@using CogsMinimizer.Shared
@model CogsMinimizer.Models.SubscriptionAnalyzeViewModel

@{
    ViewBag.Title = "Analyze Subscription";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap-sortable.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Scripts/bootstrap-sortable.js"></script>
<h2>Subscription Resources</h2>
<h4>Subscription name: @Model.SubscriptionData.DisplayName</h4>
<h4>Subscription id: @Model.SubscriptionData.Id</h4>


<style>
.btn
{
    display : table-cell
}
</style>

<script>

    function OnReserve(reserveBtn, resID, subscrID) {
        var $selectedRow = $(reserveBtn).parents("tr");
        $.ajax({
            url: "/Subscription/ReserveResource",
            type: "POST",
            dataType: "json",
            data: JSON.stringify({
                ResourceId: resID,
                SubscriptionId: subscrID
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                // Let's update expiration date, validity status, resource owner
                // Model at server is updated at controller method and will be used for table complete updating at refresh table
                $selectedRow.find('td').eq(3).html(data.Owner);
                $selectedRow.find('td').eq(5).html(data.ExpirationDate);
                $selectedRow.find('td').eq(6).html("Valid");
                $(reserveBtn).prop('disabled', true)
            }
        });
    }

    function OnExtend(extendBtn, resID, subscrID)
    {
        var $selectedRow = $(extendBtn).parents("tr");
        $.ajax({
            url: "/Subscription/ExtendResource",
            type: "POST",
            dataType: "json",
            data: JSON.stringify({
                ResourceId :  resID,
                SubscriptionId : subscrID
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                // Let's update expiration date, validity status, resource owner
                // Model at server is updated at controller method and will be used for table complete updating at refresh table
                $selectedRow.find('td').eq(3).html(data.Owner);
                $selectedRow.find('td').eq(5).html(data.ExpirationDate);
                $selectedRow.find('td').eq(6).html("Valid");
                $(extendBtn).prop('disabled', true)
            }
            });
    }
</script>
@Html.ActionLink("Extend Expired", "ExtendExpired",
                               new { SubscriptionId = Model.SubscriptionData.Id },
                               new { @class = "btn btn-info" })

<br/>
<br/>

<table class="table table-hover table-bordered table-striped table-condensed sortable" id="resourcesTable">
    <thead>
    <tr>
            <th id="nameColumn" data-defaultsign="AZ">
            @Html.DisplayNameFor(model => model.Resources.First().Name)
        </th>
            <th data-defaultsign="AZ">
            @Html.DisplayNameFor(model => model.Resources.First().Type)
        </th>
           <th data-defaultsign="AZ">
            @Html.DisplayNameFor(model => model.Resources.First().ResourceGroup)
        </th>
            <th data-defaultsign="AZ">
            @Html.DisplayNameFor(model => model.Resources.First().Owner)
        </th>
            <th data-defaultsign="month">
            @Html.DisplayNameFor(model => model.Resources.First().FirstFoundDate)
        </th>
            <th data-defaultsign="month">
            @Html.DisplayNameFor(model => model.Resources.First().ExpirationDate)
        </th>
            <th data-defaultsign="AZ">
            @Html.DisplayNameFor(model => model.Resources.First().Status)
        </th>
            <th data-defaultsort="disabled">
            Actions
        </th>
    </tr>
    </thead>

    @foreach (var item in Model.Resources)
    {
        string rowClass = item.Expired ? "alert alert - warning" : null;
        <tr class="@rowClass">
            <td>
                @Html.Raw(HTMLUtilities.CreateAzureResourceAnchor(item.Name, item.AzureResourceIdentifier))            
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstFoundDate)
            </td>
      <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td >
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <button class="btn-info btn" onclick="OnExtend(this, '@item.Id', '@item.SubscriptionId')">Extend</button>
                <br />
                <button class="btn-success btn" onclick="OnReserve(this, '@item.Id', '@item.SubscriptionId')">Reserve</button>
<!--
@if (Model.SubscriptionData.ManagementLevel == SubscriptionManagementLevel.ManualDelete && item.Expired)
{
                @Html.ActionLink("Delete", "Delete",
             new { SubscriptionId = item.SubscriptionId, resourceId = item.Id },
             new { @class = "btn btn-danger btn-xs" })
}
-->
            </td>
        </tr>
    }

</table>
