@model CogsMinimizer.Models.SubscriptionAnalyzeViewModel

@{
    ViewBag.Title = "Analyze Subscription";
}

<h2>Subscription Resources</h2>
<h4>Subscription name: @Model.SubscriptionData.DisplayName</h4>
<h4>Subscription id: @Model.SubscriptionData.Id</h4>

@Html.ActionLink("Delete Expired", "DeleteExpired",
                           new { SubscriptionId = Model.SubscriptionData.Id},
                           new { @class = "btn btn-danger" })
<br/>
<br/>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Resources.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resources.First().Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resources.First().ResourceGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resources.First().Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resources.First().FirstFoundDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resources.First().ExpirationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resources.First().Status)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model.Resources)
    {
        string rowClass = item.Expired ? "alert alert - warning" : null;
        <tr class="@rowClass">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstFoundDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExpirationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Extend", "Extend",
                    new {subscriptionId = item.SubscriptionId, resourceId = item.Id},
                    new {@class = "btn btn-info btn-xs"})

                @Html.ActionLink("Delete", "Delete",
                           new { SubscriptionId = item.SubscriptionId, resourceId = item.Id},
                           new { @class = "btn btn-danger btn-xs" })
            </td>
        </tr>
    }

</table>
