@using CogsMinimizer.Shared
@model CogsMinimizer.Models.SubscriptionAnalyzeViewModel

@{
    ViewBag.Title = "Analyze Subscription";
}

@Styles.Render("~/Content/css")
<link href="~/Content/bootstrap-sortable.css" rel="stylesheet" />
<link href="~/Content/main.css" rel="stylesheet" />

<style>
    .btn-round {
        border-radius: 12px;
        border: none;
    }

.btn-status {
  color: #ffffff;
  background-color: #cccccc;
  border-color: #cccccc;
}

.tbl-btn
{
    width: 32px;
    height: 24px;
}

.btn-cmd
{
    width:150px;
}

    .btn {
        margin: 3px;
    }

    .table {
        table-layout: fixed;
    }
</style>

@section Scripts
{
 <!-- all dependency scripts will be loaded here -->   
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
    <!-- loading remaining scripts -->
<script src="~/Scripts/colResizable-1.6.js"></script>
<script src="~/Scripts/bootstrap-sortable.js"></script>

<script>

    var initialBtnCursor;
    var initialBodyCursor;

        var nameColumn = 0;
        var descriptionColumn = 3;
        var ownerColumn = 5;
        var expirationDateColumn = 8;
        var statusColumn = 9;

        function SetCursor(bodyCursor, btnCursor) {
        $('body').css('cursor', bodyCursor); 
        $('.btn').css('cursor', btnCursor);
    }

        $(document).ready(function () {

            initialBodyCursor = $('body').first().css('cursor');
            initialBtnCursor = $('.btn').first().css('cursor');

            // In addition to calling controller action buttons click will cause setting cursor to wait while being over body and buttons
            $('.wait-crs').on('click', function () { SetCursor('wait', 'wait'); });

            $('input:radio').change(function () {
                FilterResources(this);
            });

            $("[data-toggle='tooltip']").tooltip({trigger: 'hover'});

            $('.btn-status').each(
                function(index, btn)
                { 
                    if ($(btn).attr('data-status').length != 0) { SetStatusIcon(btn, $(btn).attr('data-status')); }
                });
        });

     $("#resourcesTable").colResizable({
            liveDrag: true,
            gripInnerHtml: "<div class='grip'></div>",
            draggingClass: "dragging",
            resizeMode: 'fit'
        });

     function SetStatusIcon(statusBtn, status)
     {
         $(statusBtn).attr('class', '');

         $(statusBtn).addClass("glyphicon");
         $(statusBtn).addClass("btn");
         $(statusBtn).addClass("tbl-btn");
         $(statusBtn).addClass("btn-status");
         $(statusBtn).addClass("btn-xs");

         if (status == "Valid")
         {
             $(statusBtn).addClass("glyphicon-ok");
         }
         else if (status == "Expired") {
             $(statusBtn).addClass("glyphicon-remove");
         }
         else if (status == "MarkedForDelete") {
             $(statusBtn).addClass("glyphicon-trash");
         }
}

    function GetBool(colNum, value) {
        var input = $(value.elm).find("td").eq(colNum).find("input")[0];
        if (input.checked) {
            return 1;
        }
        else
        {
            return 0;
        }
    }

    function GetDate(colNum, value)
    {
        var dateAsString = $(value.elm).find("td").eq(colNum).html(); 
        var dateParts = dateAsString.split('/');
        var date = new Date(dateParts[2], dateParts[0], dateParts[1]);
        return date;
    }
        
    function SortResources(th) {

        if ($('#resourcesTable tbody tr').length == 0)
        {
            return;
        }

        var order = "asc";
        if ($(th).hasClass("down")) {
            order = "desc";
        }

        var colNum = $(th).index();
        var selector = "td:nth-child(" + (colNum + 1) + ")";

        var sortKind = "Text";
        if ($(th).attr("data-defaultsign") == "month") {
            sortKind = "Date";
        }
        else if ($(th).attr("data-defaultsign") == "bool") {
            sortKind = "bool";
        }

        if (sortKind == "Date") {
            tinysort($('#resourcesTable tbody tr'), {
                order: order, selector: selector, sortFunction: function (a, b) {
                    return GetDate(colNum, a) - GetDate(colNum, b);
                }
            });
        }
        else if (sortKind == "bool") {
            tinysort($('#resourcesTable tbody tr'), {
                order: order, selector: selector, sortFunction: function (a, b) {
                    return GetBool(colNum, a) - GetBool(colNum, b);
                }
            });
        }
        else {
            tinysort($('#resourcesTable tbody tr'), { order: order, selector: selector });
        }
    }

    function RedrawResourceTable() {
        if ($('#allResourcesRadio').is(":checked"))
        {
            FilterResources($('#allResourcesRadio'));
        }
        else if ($('#yourResourcesRadio').is(":checked"))
        {
            FilterResources($('#yourResourcesRadio'));
        }
        else if ($('#unclaimedResourcesRadio').is(":checked"))
        {
            FilterResources($('#unclaimedResourcesRadio'));
        }
    }

    function FilterResources(radioBtn) {
        if ($(radioBtn).attr('id') == 'allResourcesRadio')
        {
            $('#resourcesTable').find('tr').each(function () { $(this).show(); });
        }
        else if ($(radioBtn).attr('id') == 'yourResourcesRadio')
        {
            var currentUser = $.trim(@Html.Raw(Json.Encode(ViewData["UserId"])));
            $('#resourcesTable').find('tr').each(function ()
            {
                // skip table header
                if ($(this).find('th').length != 0) {
                    return;
                }

                var resourceOwner = $.trim($(this).find('td').eq(ownerColumn).html());
                if (resourceOwner == currentUser)
                {
                    $(this).show();
                }
                else
                {
                    $(this).hide();
                }
            });
        }
        else if ($(radioBtn).attr('id') == 'unclaimedResourcesRadio') {
            $('#resourcesTable tr').each(function () {
                // skip table header
                if ($(this).find('th').length != 0) {
                    return;
                }

                var confirmedUser = $(this).find('td #item_ConfirmedOwner').is(':checked');
                if (confirmedUser)
                {
                    $(this).hide();
                }
                else
                {
                    $(this).show();
                }
            });
        }
    }

    function OnResetResources() {
        $('#resetRessConfDialog').modal('show');
    }

    function OnResetResourcesImpl() {
            SetCursor('wait', 'wait');
            $('#resetRessConfDialog').modal('hide');
            $.ajax({
                url: "/Subscription/ResetResources",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({
                    SubscriptionId: '@Model.SubscriptionData.Id'
                }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    for (var resNum = 0; resNum < data.length; resNum++) {
                        var resource = data[resNum];
                        // let's find resource raw in resource table in order to update appropriate values
                        var rowSelector = "#resourcesTable tr[data-resource-id='" + resource.Id + "']";
                        var resourceRow = $(rowSelector).first();
                        if (resourceRow != null) {
                            if (resource.ConfirmedOwner) {
                                $(resourceRow).find('#item_ConfirmedOwner').prop('checked', 'checked');
                            }
                            else {
                                $(resourceRow).find('#item_ConfirmedOwner').prop('checked', '');
                            }

                            $(resourceRow).find('td').eq(ownerColumn).html(resource.Owner);
                            $(resourceRow).find('td').eq(ownerColumn).attr("title", resource.Owner);

                            $(resourceRow).find('td').eq(expirationDateColumn).html(resource.ExpirationDate);
                            $(resourceRow).find('td').eq(expirationDateColumn).attr("title", resource.ExpirationDate);

                            SetStatusIcon($(resourceRow).find('td').eq(statusColumn).find("button"), resource.Status);
                            $(resourceRow).find('td').eq(statusColumn).attr("title", resource.Status);
                        }
                    }

                    RedrawResourceTable();
                    SetCursor(initialBodyCursor, initialBtnCursor);
                }
            });
        }

            function OnEditDescription(editBtn, resID, subscrID) {
            $(editBtn).tooltip('hide');

            var selectedRow = $(editBtn).parents("tr");
            var resourceId = $(selectedRow).attr("data-resource-id");
            var resourceName = $(selectedRow).find("td").eq(nameColumn).find("a").text();
            // multi line value is padded by spaces at beginning/ending. let's trim it
            var resourceDescription = $.trim($(selectedRow).find("td").eq(descriptionColumn).html());


            $('#resourceId').html(resourceId);
            $('#resourceName').html(resourceName);
            $('#resourceDescription').val(resourceDescription);
            $('#descriptionDialog').modal('show');
        }

        function OnSaveDescription()
        {
            SetCursor('wait', 'wait');

            var resourceId = $('#resourceId').html();
            var resourceDescription = $('#resourceDescription').val();
            $.ajax({
                url: "/Subscription/SaveResourceDescription",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({
                    SubscriptionId: '@Model.SubscriptionData.Id',
                    ResourceId: resourceId,
                    Description: resourceDescription
                }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    // let's find resource raw in resource table in order to update appropriate values
                    var rowSelector = "#resourcesTable tr[data-resource-id='" + resourceId + "']";
                    var resourceRow = $(rowSelector).first();
                    if (resourceRow != null) {
                        $(resourceRow).find('td').eq(descriptionColumn).html(data.Description);
                        $(resourceRow).find('td').eq(descriptionColumn).attr("title", data.Description);
                    }

                    $('#descriptionDialog').modal('hide');
                    SetCursor(initialBodyCursor, initialBtnCursor);
                }
            });
            }

    function OnResetResource(resetBtn, resID, subscrID) {
        SetCursor('wait', 'wait');
        $(resetBtn).tooltip('hide');
        // meanwhile somehow previous row button is disabled. so we allow repetitive operations
        //        $(resetBtn).prop('disabled', 'disabled');
        var selectedRow = $(resetBtn).parents("tr");
        $.ajax({
            url: "/Subscription/ResetResource",
            type: "POST",
            dataType: "json",
            data: JSON.stringify({
                ResourceId: resID,
                SubscriptionId: subscrID
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                // Let's update expiration date, validity status, resource owner
                // Model at server is updated at controller method and will be used for table complete updating at refresh table

                if (data.ConfirmedOwner) {
                    $(selectedRow).find('#item_ConfirmedOwner').prop('checked', 'checked');
                }
                else {
                    $(selectedRow).find('#item_ConfirmedOwner').prop('checked', '');
                }

                    $(selectedRow).find('td').eq(ownerColumn).html(data.Owner);
                    $(selectedRow).find('td').eq(ownerColumn).attr("title", data.Owner);
                    $(selectedRow).find('td').eq(expirationDateColumn).html(data.ExpirationDate);
                    $(selectedRow).find('td').eq(expirationDateColumn).attr("title", data.ExpirationDate);

                    SetStatusIcon($(selectedRow).find('td').eq(statusColumn).find("button"), data.Status);
                    $(selectedRow).find('td').eq(statusColumn).attr("title", data.Status);
                    RedrawResourceTable();
                SetCursor(initialBodyCursor, initialBtnCursor);
            }
        });
    }

    function OnReserveResource(reserveBtn, resID, subscrID) {
        $(reserveBtn).tooltip('hide');
        // meanwhile somehow previous row button is disabled. so we allow repetitive operations
        //        $(reserveBtn).prop('disabled', 'disabled');
        SetCursor('wait', 'wait');
        var selectedRow = $(reserveBtn).parents("tr");
        $.ajax({
            url: "/Subscription/ReserveResource",
            type: "POST",
            dataType: "json",
            data: JSON.stringify({
                ResourceId: resID,
                SubscriptionId: subscrID
            }),
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                // Let's update expiration date, validity status, resource owner
                // Model at server is updated at controller method and will be used for table complete updating at refresh table

                if (data.ConfirmedOwner) {
                    $(selectedRow).find('#item_ConfirmedOwner').prop('checked', 'checked');
                }
                else
                {
                    $(selectedRow).find('#item_ConfirmedOwner').prop('checked', '');
                }

                $(selectedRow).find('td').eq(ownerColumn).html(data.Owner);
                $(selectedRow).find('td').eq(ownerColumn).attr("title", data.Owner);
                $(selectedRow).find('td').eq(expirationDateColumn).html(data.ExpirationDate);
                $(selectedRow).find('td').eq(expirationDateColumn).attr("title", data.ExpirationDate);

                SetStatusIcon($(selectedRow).find('td').eq(statusColumn).find("button"), data.Status);
                $(selectedRow).find('td').eq(statusColumn).attr("title", data.Status);

                RedrawResourceTable();
                SetCursor(initialBodyCursor, initialBtnCursor);
            }
        });
    }

    function OnExtendResource(extendBtn, resID, subscrID) {
        $(extendBtn).tooltip('hide');
// meanwhile somehow previous row button is disabled. so we allow repetitive operations
//        $(extendBtn).prop('disabled', 'disabled');
        SetCursor('wait', 'wait');
        var selectedRow = $(extendBtn).parents("tr");
        $.ajax({
            url: "/Subscription/ExtendResource",
            type: "POST",
            dataType: "json",
            data: JSON.stringify({
                ResourceId: resID,
                SubscriptionId: subscrID
            }),
            contentType: "application/json; charset=utf-8",
            success: function(data) {
                // Let's update expiration date, validity status, resource owner
                // Model at server is updated at controller method and will be used for table complete updating at refresh table

                if (data.ConfirmedOwner) {
                    $(selectedRow).find('#item_ConfirmedOwner').prop('checked', 'checked');
                }
                else {
                    $(selectedRow).find('#item_ConfirmedOwner').prop('checked', '');
                }

                $(selectedRow).find('td').eq(ownerColumn).html(data.Owner);
                $(selectedRow).find('td').eq(ownerColumn).attr("title", data.Owner);
                $(selectedRow).find('td').eq(expirationDateColumn).html(data.ExpirationDate);
                $(selectedRow).find('td').eq(expirationDateColumn).attr("title", data.ExpirationDate);

                SetStatusIcon($(selectedRow).find('td').eq(statusColumn).find("button"), data.Status);
                $(selectedRow).find('td').eq(statusColumn).attr("title", data.Status);

                RedrawResourceTable();

                SetCursor(initialBodyCursor, initialBtnCursor);
            }
        });
    }
</script>
}

<h2>Subscription Resources</h2>
<h4>Subscription name: @Model.SubscriptionData.DisplayName</h4>
<h4>Subscription id: @Model.SubscriptionData.Id</h4>

<br />
<div class="panel panel-default" style="border:none;width:1100px">
    <div class="row">
        <div class="col-md-6 pull-left" style="width:250px">

            <div class="panel panel-default">
                <div style="text-align:left" class="panel-heading">Choose resources to view</div>
                <div class="panel-body">

                    <div style="align-content:center" class="row">
                        <span style="width:50px"></span>@Html.RadioButton("resource filter", "All resources", true, new { id = "allResourcesRadio", style = "margin-left:15px" }) All resources
                    </div>
                    <div class="row">
                        <span style="width:50px"></span>@Html.RadioButton("resource filter", "My resources", false, new { id = "yourResourcesRadio", style = "margin-left:15px" }) My resources
                    </div>
                    <div class="row">
                        <span style="width:50px"></span>@Html.RadioButton("resource filter", "Unclaimed resources", false, new { id = "unclaimedResourcesRadio", style = "margin-left:15px" })  Unclaimed resources
                    </div>

                </div>
            </div>
        </div>

            <div class="col-md-6 pull-left" style="width:200px">

                <div class="panel panel-default" style="border:none">
                    <div class="panel-body">
                        <div class="row">
                            @Html.ActionLink("Settings", "GetSettings",
                        new
                        {
                            Id = Model.SubscriptionData.Id,
                            OrganizationId = Model.SubscriptionData.OrganizationId,
                            DisplayName = Model.SubscriptionData.DisplayName,
                            ServicePrincipalObjectId = ""
                        },
                        new { @class = "btn btn-warning btn-round wait-crs btn-cmd", @title= "Edit subscription settings" })
                        </div>
    @if (Model.SubscriptionData.ConnectedBy == User.Identity.Name)
            {
        <div class="row">
            <button class="btn btn-warning btn-round btn-cmd" title="Makes all resources unclaimed. Sets expiration date to established for unclaimed resources." onclick="OnResetResources()">Reset resources</button>
            <br />
        </div>
    }
                    </div>
                </div>

            </div>
        
        <div class="col-md-6 pull-right" style="width:250px">

            <div class="panel panel-default">
                <div style="text-align:left" class="panel-heading">Status Legend</div>
                <div class="panel-body">
                    <div style="align-content:center" class="row">
                        <button style="margin-left:15px" class="btn btn-status btn-xs glyphicon glyphicon-ok tbl-btn" data-status=""></button>&nbsp;Valid
                    </div>
                    <div style="align-content:center" class="row">
                        <button style="margin-left:15px" class="btn btn-status btn-xs glyphicon glyphicon-remove tbl-btn"  data-status=""></button>&nbsp;Expired
                    </div>
                    <div class="row">
                        <button style="margin-left:15px" class="btn btn-status btn-xs glyphicon glyphicon-trash tbl-btn"  data-status=""></button>&nbsp;Marked for deletion
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-6 pull-right" style="width:250px">

            <div class="panel panel-default">
                <div style="text-align:left" class="panel-heading">Actions Legend</div>
                <div class="panel-body">
                    <div style="align-content:center" class="row">
                        <button style="margin-left:15px" class="btn btn-warning btn-xs glyphicon glyphicon-pencil tbl-btn"></button>&nbsp;Edit resource description
                    </div>
                    <div style="align-content:center" class="row">
                        <button style="margin-left:15px" class="btn btn-info btn-xs glyphicon glyphicon-play tbl-btn"></button>&nbsp;Extend resource
                    </div>
                    <div class="row">
                        <button style="margin-left:15px" class="btn btn-success btn-xs glyphicon glyphicon-forward tbl-btn"></button>&nbsp;Reserve resource
                    </div>
                    <div class="row">
                        <button style="margin-left:15px" class="btn btn-default btn-xs glyphicon glyphicon-step-backward tbl-btn"></button>&nbsp;Reset resource
                    </div>

                </div>
            </div>
        </div>
    </div>   
</div>

<br/>
    <table class="table table-hover table-bordered table-striped table-condensed sortable resizable" id="resourcesTable">
        <thead>
            <tr>
            <th width="17%" id="nameColumn" data-defaultsign="AZ" onclick="SortResources(this)">
                    @Html.DisplayNameFor(model => model.Resources.First().Name)
                </th>

                <th width="10%" data-defaultsign="AZ"  onclick="SortResources(this)">
                    @Html.DisplayNameFor(model => model.Resources.First().Type)
                </th>
            <th width="9%" data-defaultsign="AZ" onclick="SortResources(this)">Resource<br/>Group</th>
            <th width="7%" data-defaultsign="AZ" onclick="SortResources(this)" style="border-right:0px">
                @Html.DisplayNameFor(model => model.Resources.First().Description)
                <th width="48px"  style="border-left:0px"></th>
            </th>
                <th width="14%" data-defaultsign="AZ"  onclick="SortResources(this)">
                    @Html.DisplayNameFor(model => model.Resources.First().Owner)
                </th>
                <th width="6%" id="confirmedOwnerColumn" data-defaultsign="bool" onclick="SortResources(this)">
                    Claimed
                </th>
                <th width="8%" data-defaultsign="month"  onclick="SortResources(this)">
                    @Html.DisplayNameFor(model => model.Resources.First().FirstFoundDate)
                </th>
                <th width="8%" data-defaultsign="month"  onclick="SortResources(this)">
                    @Html.DisplayNameFor(model => model.Resources.First().ExpirationDate)
                </th>
                <th width="5%" data-defaultsign="AZ" onclick="SortResources(this)">
                   @Html.DisplayNameFor(model => model.Resources.First().Status)
                </th>
                <th width="12%" data-defaultsort="disabled">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Resources)
            {
                string rowClass = item.Expired ? "alert alert - warning" : null;
            <tr class="@rowClass" data-resource-id="@item.Id">
                    <td title="@item.AzureResourceIdentifier" style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap">
                        @Html.Raw(HTMLUtilities.CreateAzureResourceAnchor(item.Name, item.AzureResourceIdentifier))
                    </td>
                    <td title="@item.Type" style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap">
                        @Html.DisplayFor(modelItem => item.Type)
                    </td>
                    <td title="@item.ResourceGroup" style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap">
                        @Html.DisplayFor(modelItem => item.ResourceGroup)
                    </td>
                <td title="@item.Description" style="border-right:0px;text-overflow:ellipsis;overflow:hidden;white-space:nowrap">
                    @Html.DisplayFor(modelItem => item.Description)
                    </td>
                <td style="border-left:0px">
                    <button class="btn btn-warning btn-xs glyphicon glyphicon-pencil tbl-btn" data-toggle="tooltip" title="Edit resource description" style="height:24px;width:32px"
                            onclick="OnEditDescription(this, '@item.Id', '@item.SubscriptionId')">
                    </button>
                </td>
                    <td title="@item.Owner" style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap">
                        @Html.DisplayFor(modelItem => item.Owner)
                    </td>
                    <td style="text-align:center">
                        @Html.CheckBoxFor(modelItem => item.ConfirmedOwner, new { disabled = "disabled" })
                    </td>
                    <td title="@item.FirstFoundDate" style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap">
                        @Html.DisplayFor(modelItem => item.FirstFoundDate)
                    </td>
                    <td title="@item.ExpirationDate" style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap">
                        @Html.DisplayFor(modelItem => item.ExpirationDate)
                    </td>
                    <td title="@item.Status" style="text-overflow:ellipsis;overflow:hidden;white-space:nowrap">
                        <button class="btn btn-status btn-xs glyphicon glyphicon-ok tbl-btn" data-status="@item.Status"></button>
                    </td>
                    <td>
                        <button class="btn btn-info btn-xs glyphicon glyphicon-play tbl-btn" onclick="OnExtendResource(this, '@item.Id', '@item.SubscriptionId')"
                                data-toggle = "tooltip", title = "Extend expiration date by a short period of time. See subscription settings."></button>
                        <button class="btn btn-success btn-xs glyphicon glyphicon-forward tbl-btn" onclick="OnReserveResource(this, '@item.Id', '@item.SubscriptionId')"
                                data-toggle = "tooltip", title = "Extend expiration date by a long period of time. See subscription settings."></button>
                        @if (Model.SubscriptionData.ConnectedBy == User.Identity.Name)
                        {
                            <button class="btn btn-default btn-xs glyphicon glyphicon-step-backward tbl-btn" onclick="OnResetResource(this, '@item.Id', '@item.SubscriptionId')"
                                    data-toggle = "tooltip", title = "Reset expiration date making resource unclaimed."></button>
                        }
                        <!--
                        @if (Model.SubscriptionData.ManagementLevel == SubscriptionManagementLevel.ManualDelete && item.Expired)
                        {
                                        @Html.ActionLink("Delete", "Delete",
                                     new { SubscriptionId = item.SubscriptionId, resourceId = item.Id },
                                     new { @class = "btn btn-danger btn-xs wait-crs" })
                        }
                        -->
                    </td>
                </tr>
            }
        </tbody>
    </table>

<div id="descriptionDialog" class="modal fade">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
           <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
             <h4 class="modal-title">Resource description</h4>
            </div>
            <div class="modal-body">
                <table>
                    <tr style="display:none">
                        <td colspan="3"><div id="resourceId"></div></td>
                        </tr>
                    <tr>
                        <td>Name</td>
                        <td width="5px" />  
                        <td id="resourceName"></td>
                    </tr>
                    <tr>
                        <td style="vertical-align:top;text-align:justify;white-space:normal;margin:5px">Description</td>
                        <td width="5px" />
                        <td style="padding:0px;vertical-align:top;text-align:left"><textarea id="resourceDescription" style="text-align:left;vertical-align:top;margin:5px;width:500px;height:250px;"></textarea></td>
                    </tr>
                            </table>
            </div>
                   <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="OnSaveDescription()">Ok</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
    
        </div> 
    </div>
</div>
<div id="resetRessConfDialog" class="modal fade">2
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Reset Resources</h4>
            </div>
            <div class="modal-body">
                <div>This will reset the expiration date and ownership information for all the resources.</div>
               <br />
                <div style="text-align:center">Are you sure?</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="OnResetResourcesImpl()">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
            </div>

        </div>
    </div>
</div>
    

