@using System.Runtime.InteropServices.ComTypes
@model IEnumerable<CogsMinimizer.Models.Resource>

@{
    ViewBag.Title = "Analyze";
}

<h2>Subscription Resources</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResourceGroup)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Owner)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstFoundDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    string rowClass = item.Expired ? "alert alert - warning" : null;
    <tr class="@rowClass">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResourceGroup)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstFoundDate)
            </td>
            <td>
                @Html.ActionLink("Reclaim", "Reclaim", new { Id = item.Id}, new { @class = "btn btn-info btn-xs" }) |
                @Html.ActionLink("Delete", "Delete", new {SubscriptionId = item.SubscriptionId, AzureResourceId = item.AzureResourceIdentifier, }, new { @class = "btn btn-danger btn-xs"})
            </td >
        </tr>
    }

</table>
